body {
  font-family: 'Roboto';
  font-weight: 300;
}
hr {
  margin: 30px 5%;
  border: 1px solid rgba(0, 0, 255, 0.3);
}
.glyphicon {color: blue;}


/*-- Contact --*/
.contact button { margin-top: 15px; }
/*-- /Contact --*/


/*-- Education --*/
/*-- /Education --*/


/*-- Entry --*/
.entry {
  padding: 15px 5%;
  border-radius: 2px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.entry li { font-size: 1.5em; }
/*-- /Entry --*/


/*-- Experience --*/
/*-- /Experience --*/


/*-- Navbar --*/
.navbar {margin-bottom: 0px;}
/*-- /Navbar --*/


/*-- Skills --*/
.skills h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.skills li {
  background-color: blue;
  color: white;
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px 10px;
}
/*-- /Skills --*/


/*-- Summary --*/
.summary {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 10%;
  padding-bottom: 15%;
}
.summary .col-md-5 { background-color: rgba(255, 255, 255, 0.5); }
.summary .edit-summary { background-color: rgba(255, 255, 255, 0.5); }
/*-- /Summary --*/