<div class="container skills" id="skills">
  <div class="row">
    <h1 class="text-center">
      Skills
      <button ng-click="skills.edit()" ng-hide="skills.isEditing" class="btn btn-primary pull-right">Edit</button>
      <button ng-click="skills.save()" ng-show="skills.isEditing" class="btn btn-success pull-right">Save</button>
    </h1>
  </div>
  <div class="row" ng-hide="skills.isEditing">
    <ul class="list-inline text-center">
      <li ng-repeat="skill in skills">{{skill.skill}}</li>
    </ul>
  </div>
  <div class="row" ng-show="skills.isEditing">
    <ul class="list-inline text-center">
      <li ng-repeat="skill in skills">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="skill.skill" placeholder="Skill">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-remove" ng-click="skills.remove(skill)">              
          </span>
        </div>
      </li>
    </ul>
    <div class="text-center">
      <button ng-click="skills.add()" class="btn btn-primary">Add Skill</button>
    </div>
  </div>
  <hr>
</div>