<!-- Summary -->
<div class="container-fluid summary" id="summary" style="background-image: url('{{summary.background}}')">
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <img src="{{summary.profile}}" alt="Profile" class="img-responsive">
    </div>

    <!-- View Summary -->
    <div class="col-md-5" ng-hide="showSummaryForm">
      <h1>
        <span ng-bind="summary.name"></span>
        <button type="button" class="btn btn-primary pull-right" ng-click="editSummary()">Edit</button>
      </h1>
      <hr>
      <h2 ng-bind="summary.title"></h2>
      <h2 ng-bind="summary.location"></h2>
      <h3>
        <span class="glyphicon glyphicon-phone-alt"></span>
        <span ng-bind="summary.phone"></span>
      </h3>
      <h3>
        <span class="glyphicon glyphicon-envelope"></span>
        <span ng-bind="summary.email"></span>
      </h3>
    </div>
    <!-- /View Summary -->
    
    <!-- Edit Summary -->
    <div class="col-md-5" ng-show="showSummaryForm">
      <form ng-submit="saveSummary()">
        <button type="button" class="btn btn-success pull-right" ng-click="saveSummary()">Save</button>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" ng-model="summary.name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" ng-model="summary.title">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" ng-model="summary.location">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" ng-model="summary.phone">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Name" ng-model="summary.email">
        </div>
      </form>
    </div>    
    <!-- /Edit Summary -->

  </div>
</div>


<!-- Skills -->
<div class="container skills" id="skills">
  <div class="row">
    <h1 class="text-center">
      Skills
    </h1>
  </div>
  <div class="row">
    <ul class="list-inline text-center">
      <li ng-repeat="skill in skills">{{skill.skill}}</li>
    </ul>
  </div>
  <hr>
</div>

<!-- Experience -->
<div class="container experience" id="experience">
  <div class="row">
    <h1 class="text-center">Experience</h1>
  </div>
  <!-- Entry -->
  <div class="entry" ng-repeat="entry in experience">
    <div class="row">
      <div class="well">
        <h1>
          {{entry.title}} 
          <span class="pull-right">
            <small><em>{{entry.startYear}} - {{entry.endYear}}</em></small>
          </span>
        </h1>
        <h2>{{entry.organization}}</h2>
        <hr>
        <ul>
          <li ng-repeat="description in entry.descriptions">{{description}}</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</div>


<!-- Education -->
<div class="container education" id="education">
  <div class="row">
    <h1 class="text-center">Education</h1>
  </div>  
  <!-- Entry -->
  <div class="entry" ng-repeat="entry in education">
    <div class="row">
      <div class="well">
        <h1>
          {{entry.title}} 
          <span class="pull-right">
            <small><em>{{entry.startYear}} - {{entry.endYear}}</em></small>
          </span>
        </h1>
        <h2>{{entry.organization}}</h2>
        <hr>
        <ul>
          <li ng-repeat="description in entry.descriptions">{{description}}</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</div>


<!-- Contact -->
<div class="container contact" id="contact">
  <div class="row">
    <h1 class="text-center">Contact</h1>
  </div>
  <div class="row">
    <form>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone-alt"></span></span>
          <input type="text" class="form-control" placeholder="Phone">
        </div>
      </div>
      <div class="col-md-6">
        <textarea class="form-control" rows=6></textarea>
        <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
      </div>
    </form>
  </div>
</div>